<footer class="page-footer site-footer" >
     <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 style="color: #1a237e">Contact Us</h5>
                 <p><a  href="/about">About Us</a></p>
                <p><a  href="mailto:sayHello@cornerfind.com">sayHello@cornerfind.com</a></p>
                <p><a  href="/logins">Login</a></p>
                <a  href="/signup">Sign Up</a>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

            <div class="right" style="color: #1a237e">© 2015 Cornerfind.com All rights reserved</div>
            <br>
            <br>
        </div>
    </div>
</footer>
