
<div ng-include="'components/navbar/navbar.html'"></div>


  <div ng-show='loggedin' class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large arc-was-red" ng-click="addProduct()">
          <i class="large mdi-content-add"></i>
      </a>
  </div>


  <div class="container">
      <div class="input-field col l8 m9 s12">
          <form class="form" role="form" ng-submit='searchSubmit(searchText)'>
              <i class="mdi-action-search prefix"></i>
              <input type="text" ng-model="searchText" class="form-control btn-block" id="searchbox" ng-change="searchSubmit(searchText)" ng-model-options="{debounce:500}">
              <label for="icon_prefix">Type here to search all the baby related products</label>
          </form>
      </div>
  </div>

  <div class='container' id='homePageContainer'>
    <div class="row">
      <div ng-repeat="product in productList">

      <product-card-view info="product" class="col l3 m6 s12 list-unstyled"></product-card-view>

      </div>
    </div>
  </div>




