

.productCard{

  padding: 0px 5px;

  #productDescInCard{
    padding-top: 8px;
    padding-bottom: 5px;
    margin-top: 0px ;
    margin-bottom: -20px ;
    height: 35px;

    .description{
      line-height: 150%;
      font-size: 1rem;
      color: #333333;
      font-weight: 400;
      text-transform: none;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
    }
  }

  #productSubtitle{
    padding-top: 0px ;
    padding-bottom: 5px ;
    border-top: 0px ;
    margin-top: -20px ;


    #username a {
      font-size: 1.0rem ;
      color: $fontLinkColor ;
      margin-bottom: 0px ;
      margin-top: 3px;
      margin-left: -10px;
      // text-indent: -1.45rem;
    }
    #productName{
      font-size: 1.0rem ;
      color: $fontBlack ;
      margin-top: 5px ;
      margin-bottom: 8px ;
      font-weight: 500;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    #productDetails a{
      font-size: 1.0rem ;
      color: $fontLinkColor;
    }

    .price {
      margin-top: 7px;
      color: #333333;
      font-size: 1.0rem;
      display: inline-block;
      font-weight: 600;
    }

    .strike {
      display: inline-block;
      text-decoration: line-through;
      font-size: 0.95rem;
      color: #fontBlack;
      display: inline-block;
      text-indent: 0.5rem;
      margin-top: 0px;
      margin-bottom: 0px;
      // vertical-align: -2%;
    }
  }

  #productFavInCard{
    padding-top: 5px ;
    padding-bottom: 5px ;
    margin-top: 0px ;
    white-space: nowrap;

    a{
      margin-right: 5px;
    }
  }


  #favoriteIcon{
    display: inline-block ;
    font-size: 1.8rem ;
    color: #ffcdd2 ;
  }

 #favoriteLink{
  margin-right: 5px;
 }

  .favorited {
    color: #e53935 !important; 
  }


  #productFavoriteDisplay{
    margin-top: 0px ;
    margin-bottom: 0px ;
    display: inline-block ;
    vertical-align: 10% ;
    font-size: 1.0rem;
    font-weight: 475;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: calc(100% - 30px);
  }

  a{
    &:hover{
      text-decoration: none !important;
    }
  }

  .card-image{
    display:inline-block !important;
  }
}