#listChatCard{

	#chat{
	padding: 15, 20, 15, 20px;
	text-wrap: normal;
	}

	#chatUsername{
		font-size: $fontDescriptionTitleSize;
		font-weight: 600;
	}

	#chatText{
		font-size: $fontDescriptionSize;
		font-weight: 575;
	}
}


#newMessageDiv{

	#newMessageCard{

		padding-top: 5px;
		padding-bottom: 10px;

	}
}