<div class="row" id='profile'>
    <success-confirmation ng-show='success' text='edited profile!'></success-confirmation>
    <form ng-hide='success' class="col s12" ng-submit="updateUser(currentUser)">
        <div class="row">
            <div class='input-field col l6 s6 offset-l4 offset-s3 center'>
                <img class='responsive-img circle' ng-src='{{currentUser.picture}}'>
            </div>
            <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input id='name' type="text" ng-model='currentUser.name' class="validate">
                <label for='name' class='active'>Name</label>
            </div>
            <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input id='email' type="email" ng-model='currentUser.email' class="validate">
                <label for='email' class='active'>Email</label>
            </div>
            <div class="input-field col s12">
                <i class="mdi-communication-phone prefix"></i>
                <input id='mobile' type="tel" ng-model='currentUser.phoneNumber' class="validate">
                <label for='mobile' class='active'>Mobile (for notifications only)</label>
            </div>
            <div class="input-field col s12">
                <i class="mdi-content-create prefix"></i>
                <textarea id='description' class="materialize-textarea" ng-model='currentUser.description' class="validate" />
                <label for='description' class='active'>Describe yourself!</label>
            </div>
            <div class='col s12 center'>
                <button class='btn blue'>Submit</button>
                <button type='button' class='btn red' ng-click='cancelChanges()'>Reset</button>
            </div>
        </div>
    </form>
</div>
