#my-collection{
	padding: 5px 5px;
	/*border-bottom: thin solid #9e9e9e;*/
	text-decoration: none;
	font-size: 1.2rem;
	color: $fontBlack;
	box-sizing: border-box;
	float:left;

	&:hover{
		background-color: $navDropdownHighlight;
	}

	&.active {
		background-color: $highlightSelect;
		color: $fontBlack;
	}

}



